source: .
destination: codex
extensions: [php,phar]
title: WebSharks™ HTML Compressor
exclude: [*/externals/*,*/unit-tests/*]
accessLevels: [public,protected,private]
deprecated: yes
todo: yes
download: yes
debug: yes
php: no